/* main body style */
body {
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    color: darkblue;
}
/* digit style */
#container {
    color: #d7dfe4;

}

.digit {
    font-size: 110px;
    color: black;
}

.txt {
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
}

/* botton style */
#btn-container {
    text-align: center;
    margin-top: 40px;

}

.btn {
    padding: 7px 25px;
    font-size: 18px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
    width: 123px;
    height: 60px;
    border-radius: 80px;
}

#start {
    background-color: #206a13;

}

#stop {
    background-color: #3498db;
}

#reset {
    background-color: #e74c3c;
}